ul {
    list-style-type: none;
    padding-top: 10px;
}
li + li {
    margin-top: 10px;
}
li span:hover {
    cursor: pointer;
    color: chocolate;
}
li {
    position: relative;
}
li::before {
    content: ">";
    left: -15px;
    font-size: 18px;
    position: absolute;
}

.album__img:hover {
    cursor: pointer;
    opacity: 0.9;
}
.tabs__user.active::before,
.tabs__album.active::before {
    transform: rotate(90deg);
}
.tabs__user.active .user__span,
.tabs__album.active .album__span {
    color: darkblue;
}
.tabs__photos::before {
    content: "";
}
.photo__star::before {
    content: "★";
    position: absolute;
    font-size: 40px;
    color: lightgrey;
    cursor: pointer;
    left: -50px;
    top: 50px;
}
.photo__star:hover::before {
    opacity: 0.8;
}
.favourite.photo__star::before {
    color: gold;
}
.favourite__photos::before {
    content: "";
}
.header {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: CornflowerBlue;
    padding-top: 30px;
}
.header__tab-link:hover {
    cursor: pointer;
    color: blue;
}
.header__tab-link.active {
    color: Orchid;
    cursor: default;
}
.header__tab-link + .header__tab-link {
    margin-left: 20px;
}
.tabs {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
.tab {
    display: none;
}
.tab.active {
    display: block;
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
}
.modal__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.modal__bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.5;
}
